doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../../../../styles.scss")
        title Войти
    body
        .wrap-auth
            form.auth-form(onsubmit="getDataForm()")
                h1.auth-form__title Регистрация
                .auth-form__field
                .auth-form__action
                    .btn-action
                    a(href="../login/login.pug").auth-form__href Войти
        script(src="./../../../../../ts-built/pages/modules/auth/sigin/sigin.js", type="module")