doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Редактировать пароль
    body
        .wrap.wrap_column
            .control
                a(href="/profile")
                    img(src="../../../../../static/img/arrow.svg")
            .profile-wrap
                .profile-title
                    .avatar
                        input(type="file", name="avatar")
                .info
                    .text-field-edit-info.text-field-edit-info_padding
                        label(for="oldPassword").text-field-edit-info__label Старый пароль
                        input(type="password", name="oldPassword", id="oldPassword", placeholder="****").text-field-edit-info__input
                    .text-field-edit-info.text-field-edit-info_padding
                        label(for="newPassword").text-field-edit-info__label Новый пароль
                        input(type="password", name="newPassword", id="newPassword", placeholder="****").text-field-edit-info__input
                    .text-field-edit-info.text-field-edit-info_padding
                        label(for="newPasswordRepeat").text-field-edit-info__label Повторите новый пароль
                        input(type="password", name="newPasswordRepeat", id="newPasswordRepeat", placeholder="****").text-field-edit-info__input
       
            button(type="button").btn.btn_width280
                span Сохранить
        script(src='../../../../index.js', type="module")