doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Редактировать профиль
    body
        .wrap.wrap_column
            .control
                a(href="/profile")
                    img(src="../../../../../static/img/arrow.svg")
            .profile-wrap
                .profile-title
                    .avatar
                        input(type="file", name="avatar")
                    .name Иван
                .info
                    .text-field-edit-info.text-field-edit-info_padding
                        label(for="email").text-field-edit-info__label Почта
                        input(type="email", name="email", id="email", placeholder="Почта", value="pochta@yandex.ru").text-field-edit-info__input
                    .text-field-edit-info.text-field-edit-info_padding
                        label(for="login").text-field-edit-info__label Логин
                        input(type="text", name="login", id="login", placeholder="Логин", value="ivanivanov").text-field-edit-info__input
                    .text-field-edit-info.text-field-edit-info_padding
                        label(for="first_name").text-field-edit-info__label Имя
                        input(type="text", name="first_name", id="first_name", placeholder="Имя", value="Иван").text-field-edit-info__input
                    .text-field-edit-info.text-field-edit-info_padding
                        label(for="second_name").text-field-edit-info__label Фамилия
                        input(type="text", name="second_name", id="second_name", placeholder="Фамилия", value="Иванов").text-field-edit-info__input
                    .text-field-edit-info.text-field-edit-info_padding
                        label(for="display_name").text-field-edit-info__label Имя в чате
                        input(type="text", name="display_name", id="display_name", placeholder="Имя в чате", value="Иван").text-field-edit-info__input
                    .text-field-edit-info.text-field-edit-info_padding
                        label(for="phone").text-field-edit-info__label Телефон
                        input(type="text", name="phone", id="phone", placeholder="Телефон", value="+7 (909) 967 30 30").text-field-edit-info__input
       
            button(type="button").btn.btn_width280
                span Сохранить
        script(src='../../../../index.js', type="module")