.wrap-chats {
    display: flex;
    height: 100%;
    width: 100%;

    .left-chats {
        width: 310px;
        background: #FBFBFB;

        &__header {
            padding-bottom: 10px;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
        }

        &__profile {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 50px;
            border-bottom: 1px solid #EAEAEA;
            margin-right: 10px;

            a {
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                text-align: right;
                color: #999999;            
            }
        }
    }

    .right-chats {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__header {
            border-bottom: 1px solid #EAEAEA;
            padding: 10px;
            padding-top: 0px;
            height: 50px;
        }
    
        &__profile {
            display: flex;
            align-items: center;
        }

        &__name {
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
            color: #1E1E1E;
            margin-left: 10px;
        }

        &__msg {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
        }

        &__input {
            margin-bottom: 15px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            input {
                background: #EFEFEF;
                border-radius: 30px;
                width: 100%;
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                color: #111;
                outline: none;
                height: 40px;
                padding: 10px;
                border: none;

                &:focus {
                    outline: none;
                }

            }
        }
    }

}

.search {
    width: 100%;
    background: #EFEFEF;
    border-radius: 5px;
    border: none;
    padding: 7px;
    text-align: center;

    &:focus {
        outline: none;
    }
}

.msg {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #1E1E1E;
    background: #F8F8F8;
    padding: 10px;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 100px;

    &_from {
        display: flex;
        justify-content: flex-end;

        & .msg {
            background: #E4EDFD;
        }
    }

    &_to {
        display: flex;
        justify-content: flex-start;
    }
}




.chat-item {
    display: flex;
    height: 70px;
    border-top: 1px solid #EAEAEA;
    padding: 10px;
    background: #FFF;

    .rigth {
        display: flex;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        flex-direction: column;
        width: 200px;
        overflow: hidden;
    }

    &__avatar {
        margin-right: 10px;
    }

    &__name {
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        color: #1E1E1E;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 10px;
    }

    &__msg {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #999999;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        text-overflow: ellipsis;
        padding-right: 10px;
    }
}

.time {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: #999999;

    &_rigth {
        text-align: right;
    }

    &_from {
        color: #3369F3;
    }
}

.count {
    background: #3369F3;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #FFF;
    font-weight: 500;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #EFEFEF;
}

.submit-msg {
    margin-left: 14px;
    transform: rotate(180deg);
}