doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../../../styles.scss")
        title Редактировать профиль
    body
        .wrap.wrap_column
            .control
                a(href="./../profile.pug")
                    img(src="../../../../static/img/arrow.svg")
            .profile-wrap
                .profile-title
                    .avatar
                        input(type="file", name="avatar")
                    .name Иван
                form.info
       
            .btn-action
        script(src="./../../../../ts-built/modules/profile/edit/edit-profile.js", type="module")