.profile-wrap {
  width: 50%;
  margin-bottom: 60px;
}

.profile-title {
  display: flex;
  align-items: center;
  flex-direction: column;

  .name {
    text-align: center;
    font-size: 18px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #efefef;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;

  &-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid  var(--gray-color);
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--red-color);

    &__name {
      color: var(--gray-color);
      cursor: pointer;
    }
  }
}

.action {
  margin-top: 50px;
}

.control > div {
  width: 64px;
  height: 100%;
  left: 0;
  top: 0;
  background: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.logout {
  cursor: pointer;
}

.back {
  content: "";
  display: block;
  background-image: url("./icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
}

#form-avatar {
  margin-top: 30px;
}
