doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.scss")
        title Навигация
    body
        ul
            li
                a(href="pages/home/modules/auth/login/login.pug") Логин
            li
                a(href="pages/home/modules/auth/sigin/sigin.pug") Регистрация
            li
                a(href="pages/home/modules/profile/profile.pug") Профиль
            li
                a(href="pages/home/modules/profile/edit-profile.pug") Изменение профиля
            li
                a(href="pages/home/modules/profile/edit-password.pug") Изменение пароля
            li
                a(href="pages/home/modules/errors/error404.pug") 404
            li
                a(href="pages/home/modules/errors/error500.pug") 500