doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../../../styles.scss")
        title Войти
    body
        .wrap-auth
            form.auth-form
                h1.auth-form__title Вход
                .auth-form__field
                .auth-form__action
                    .btn-action
                    a(href='../sigin/sigin.pug').auth-form__href Нет аккаунта?
        script(src="./../../../../ts-built/pages/modules/auth/login/login.js", type="module")


